.tel{
  transition: 0.5s;
  z-index: 6;
  overflow-y: hidden;
  top: -45px;

}
.telbutton{

}


/* The sidepanel menu */
.sidepanel {
  height: 0; /* Specify a height */
  width: 230px; /* 0 width - change this with JavaScript */
  z-index: 5; /* Stay on top */
  top: 0;
  background-color: #033453; 
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 1.3s; /* 0.5 second transition effect to slide in the sidepanel */
  opacity: 0.9;
}




/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}



/* When you mouse over the navigation links, change their color */
.sidepanel a:hover,
.sidepanel a:focus,
.sidepanel a:active{
  color: #b45309;
}


.selected a{
  color: #b45309;
}

/*Hover NAV*/
.nav a {
  position: relative;
}

.nav a:after {
  content: "";
  position: absolute;
  background-color: #b45309;
  height: 2px;
  width: 0;
  left: 0px;
  bottom: 0;
  transition: 0.4s;
  opacity: 0.8;
}


.nav a:hover:after {
  width: 100%;
}

/*RESPONSIV PANEL*/

.sidepanelsec {
  height: 500px; /* Specify a height */
  width: 0;  /* 0 width - change this with JavaScript */
  position: fixed;  /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #033453;  /* Black*/
  overflow-x: hidden;  /* Disable horizontal scroll */
  padding-top: 60px;  /* Place content 60px from the top */
  transition: 0.5s;  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanelsec a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanelsec a:hover,
.sidepanelsec a:focus,
.sidepanelsec a:active {
  color: #b45309;
}

/* Position and style the close button (top right corner) */
.sidepanelsec .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtnsec {
  cursor: pointer;

}