@tailwind base;
@tailwind components;
@tailwind utilities;


.header-photo {
    background-image: url('../img/plumber.jpg');
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}




.tel {
    transition: 0.5s;
    z-index: 6;
    overflow-y: hidden;
    top: -45px;

}

/* The sidepanel menu */
.sidepanel {
    height: 0;
    width: 230px;
    z-index: 5;
    top: 0;
    background-color: #033453;
    overflow-y: hidden;
    transition: 1.3s;
    opacity: 0.9;
}




/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}


.sidepanel a:hover,
.sidepanel a:focus,
.sidepanel a:active {
    color: #b45309;
}


.selected a {
    color: #b45309;
}

/*Hover NAV*/
.nav a {
    position: relative;
}

.nav a:after {
    content: "";
    position: absolute;
    background-color: #b45309;
    height: 2px;
    width: 0;
    left: 0px;
    bottom: 0;
    transition: 0.4s;
    opacity: 0.8;
}


.nav a:hover:after {
    width: 100%;
}

/*RESPONSIV PANEL*/

.sidepanelsec {
    height: 500px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #033453;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

/* The sidepanel */
.sidepanelsec a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}


.sidepanelsec a:hover,
.sidepanelsec a:focus,
.sidepanelsec a:active {
    color: #b45309;
}


.sidepanelsec .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.openbtnsec {
    cursor: pointer;

}